Datasets/FC/ASD.mat
Datasets/FC/MDD.mat
Datasets/FC/FC_MDD_suffled_GAT.pkl
Datasets/FC/FC_MDD_suffled_GCN_w_edge_weight.pkl
Datasets/FC/FC_MDD_suffled_GIN3.pkl
Datasets/FC/FC_suffled_GAT.pkl
Datasets/FC/FC_suffled_GIN3.pkl
Datasets/FC/FC_suffled_GCN_w_edge_weight.pkl
Datasets
results/FC_suffled_GAT_X_train_layers.pkl
results/FC_suffled_GIN3_X_train_layers.pkl
Datasets/FC/CLINTOX_shuffled_GIN.pkl
models/AIFB_RGCN.pt
models/AIFB_GCN.pt
models\AIFB_GCN.pt
models\AIFB_RGCN.pt
models\BA_2grid_Cheb
models\BA_2grid_Diffpool
models\BA_2grid_GAT
models\BA_2grid_GCN
models\BA_2grid_GIN
models\BA_2grid_GIN_mean
models\BA_2grid_GINmy
models\BA_2grid_HO
models\BA_2grid_house_Cheb
models\BA_2grid_house_GAT
models\BA_2grid_house_GCN
models\BA_2grid_house_GCN_91
models\BA_2grid_house_GCN_dropout
models\BA_2grid_house_GCN_L2
models\BA_2grid_house_GCN_test.pkl
models\BA_2grid_house_GCN_train.pkl
models\BA_2grid_house_GCN_xavier
models\BA_2grid_house_GCN.pt
models\BA_2grid_house_GIN
models\BA_2grid_house_GIN4
models\BA_2grid_house_GIN4_dropout
models\BA_2grid_house_GIN4_L2
models\BA_2grid_house_GIN4_L2_wd-2
models\BA_2grid_house_GINmy
models\BA_2grid_house_HO
models\BA_2grid_house_RGCN
models\BA_2grid_house_Set2Set
models\BA_2grid_house_shuffled_GCN.pt
models\BA_2grid_house_shuffled_GIN.pt
models\BA_2grid_house_with_node_degree_as_features_and_expand_10_dimensions_GAT
models\BA_2grid_house_with_node_degree_as_features_and_expand_10_dimensions_shuffled_GAT.pt
models\BA_2grid_MinCutPooling
models\BA_2grid_Set2Set
models\BA_2gridhouse_MinCutPooling
models\BA_houses_color_Cheb
models\BA_houses_color_Diffpool
models\BA_houses_color_GAT
models\BA_houses_color_GCN
models\BA_houses_color_GIN
models\BA_houses_color_HO
models\BA_houses_color_MinCutPool
models\BA_houses_color_MinCutPooling
models\BA_houses_color_SAGE
models\BA_houses_color_Set2Set
models\BA_housescolors_MinCutPooling
models\BAShapes_Cheb
models\BAShapes_GCN
models\BAShapes_GIN
models\BAShapes_GraphSAGE
models\CLINTOX_GAT.pt
models\CLINTOX_GCN_wo_edge_weight.pt
models\CLINTOX_GIN.pt
models\CLINTOX_shuffled_GIN.pt
models\ER_nb_stars_Cheb
models\ER_nb_stars_color_Cheb
models\ER_nb_stars_color_GCN
models\ER_nb_stars_color_GIN
models\ER_nb_stars_color_GraphSAGE
models\ER_nb_stars_GCN
models\ER_nb_stars_GIN
models\ER_nb_stars2_Cheb
models\ER_nb_stars2_GCN
models\ER_nb_stars2_GIN
models\ER_nb_stars2_HO
models\ER_nb_stars2_MinCutPooling
models\ER_nb_stars2_Set2Set
models\FC_GAT.pt
models\FC_GATserver.pt
models\FC_GATserver2.pt
models\FC_GCN_wo_edge_weightserver.pt
models\FC_GCN.pt
models\FC_GCNserver.pt
models\FC_GIN.pt
models\FC_GIN2server.pt
models\FC_GIN3server_iterate.pt
models\FC_GIN3server.pt
models\FC_GINbisserver.pt
models\FC_GINserver.pt
models\FC_GINtriserver.pt
models\FC_MDD_GATserver.pt
models\FC_MDD_GCN_computer.pt
models\FC_MDD_GCNserver_gpu.pt
models\FC_MDD_GINserver.pt
models\FC_MDD_suffled_GAT.pt
models\FC_MDD_suffled_GCN_w_edge_weight.pt
models\FC_MDD_suffled_GIN3.pt
models\FC_RGCN.pt
models\FC_suffled_GAT.pt
models\FC_suffled_GCN_w_edge_weight.pt
models\FC_suffled_GIN3.pt
models\GIN_best_model.pth
models\GIN2_best_model.pth
models\GIN3_best_model.pth
models\GINbis_best_model.pth
models\GINtri_best_model.pth
best_model.pth
data/ClinTox